html,body{
    margin:0!important;
    padding:0!important;
    height:100vh;
    font-family:"Open Sans",sans-serif!important;
    background-image: url("space.jpg");
}
.header{
    color:#FFF;
    text-align:center;
    font-size: 3em;
    letter-spacing: 3px;
    padding:15px;
    font-family: 'Space Mono', monospace;
}
.contactform{
    background-color:#f2f2f2;
    border-radius:4px;
    text-align:center;
    margin:auto;
    padding-top:30px;
    padding-bottom:30px;
    margin:auto;
    width:30%;
}
.col{
    display:inline-block;
}
label{
    font-size:16px;
}
input{
    border-radius:1px;
    border:1px solid #CCC;
    padding:5px;
    margin:auto;
    margin-bottom:15px;
    display:block;
}
textarea{
    border-radius:1px;
    border:1px solid #CCC;
    padding:5px;
    margin:auto;
    display:block;
}
button{
    margin-top:20px;
    color:#FFF;
    background-color:#1a1a1a;
    border:2px solid #1a1a1a;
    border-radius:5px;
    font-size:16px;
    padding:10px;
}
button:hover{
    border:2px solid #1a1a1a;
    color:#000;
    background-color:#f2f2f2;
    transition:.5s;
    cursor:pointer;
}
.submitMessage{
    margin-top:30px;
    text-align:center;
}
#return{
    text-decoration:none;
}
#return:hover{
    text-decoration:none;
}